
html{
    background-color: rgb(17, 200, 206);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
#headerid{
    background-color: rgb(194, 228, 72);
    color: rgb(11, 157, 224);
    text-align: center;
    padding-left: 40px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    border-radius:8px;
}
button{
    border-radius: 400px;
    text-align: center;
    font-size: 10px;
    background-color: rgb(75, 144, 201);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
button:active{
    background-color:hsl(207, 54%, 20%);
}
button:hover{
    background-color:rgb(75, 100, 201);
    color: tomato;
    transition-delay: 30ms;
    border: 15px;
}
#Aboutmeid{
    text-align: center;
    color: rgb(22, 224, 107);
    background-color:hsl(263, 39%, 59%);
    border-radius: 8px;
    padding-left: 20px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    h1{
        color: blue;
    }
}
#AboutmeHead{
    color: rgb(31, 31, 180);
}
#Projectsid{
    text-align: justify;
    color: rgb(11, 157, 224);
    background-color: rgb(81, 206, 102);
    border-radius: 8px;
    padding-left: 20px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    h1{
        color: blue;
    }
    li{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:darkslategray
    }
    p{
        color: rgb(112, 198, 226);  
    }
}
#Skillsid{
    color: rgb(11, 157, 224);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 40, 80);
    border-radius: 8px;
    padding-left: 20px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    h1{
        color: blue;
    }
    li{
        color: rgb(28, 231, 96);
    }
}
#Contactsid{
    color: rgb(11, 157, 224);
    background-color: rgb(240, 110, 18);
    border-radius: 8px;
    padding-left: 20px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    h1{
        color: blue;
    }
    p{
        text-align: right;
        color:rgb(138, 235, 12)
    }
}

