
html{
    background-color: rgb(158, 81, 81);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
#headerid{
    background-color: rgba(46, 189, 94, 0.479);
    text-align: center;
    padding-left: 40px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    border-radius:8px;
}
button{
    border-radius: 400px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(46, 189, 94, 0.479);
    border-color: rgba(46, 189, 94, 0.479);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
button:active{
    background-color:hsl(207, 54%, 20%);
}
button:hover{
    background-color:rgba(57, 107, 201, 0.575);
    color: rgb(46, 70, 75);
    border: 15px;
}
#Aboutmeid{
    text-align: center;
    color: rgb(28, 32, 37);
    border-radius: 8px;
    padding-left: 20px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    h1{
        color: blue;
    }
}
#AboutmeHead{
    color: rgb(31, 31, 180);
}
#Projectsid{
    background-color: rgba(46, 189, 94, 0.479);
    text-align: justify;
    color: rgb(12, 13, 14);
    border-radius: 8px;
    padding-left: 20px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    h1{
        color:rgb(31, 31, 180);
    }
    li{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:rgb(31, 44, 44)
    }
    p{
        color: rgb(18, 25, 27);  
    }
}
#Skillsid{
    color: rgb(12, 13, 14);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    padding-left: 20px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    h1{
        color: rgb(31, 31, 180);
    }
    li{
        color: rgb(37, 32, 43);
    }
}
#Contactsid{
    background-color: rgba(46, 189, 94, 0.479);
    color: rgb(11, 157, 224);
    border-radius: 8px;
    padding-left: 20px ;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
    h1{
        color: blue;
    }
    p{
        text-align: right;
        color:rgb(36, 35, 48)
    }
}

